@model JokerKS.WLFU.Models.AuctionModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="product-details form-group">
    <div class="message-info" style="display:none">

    </div>
    <div class="col-md-6">
        <a class="product-main-img" href="#">
            <div class="polaroid">
                <p>@Model.Auction.MainImage.Title</p>
                <img src="@Url.Content("~/Images/Auctions/" + Model.Auction.MainImage.Path)" />
            </div>
        </a>

        <div id="product-images">
            @foreach (var image in Model.Images)
            {
                <div>
                    <img class="img-mini img-thumbnail" src="@Url.Content("~/Images/Auctions/" + image.Path)" alt="@Model.Auction.Name" />
                </div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6">
        <h3>
            @Html.DisplayFor(model => model.Auction.Name)
        </h3>

        <div>
            @Html.DisplayNameFor(model => model.Auction.CurrentPrice)
            @Html.DisplayFor(model => model.Auction.CurrentPrice) zł
        </div>

        <div class="make-active-bid-btn">
            @if (Model.Auction.DesignerId != User.Identity.GetUserId() && !Model.Auction.IsClosed)
            {
                <input class="txt-price" type="number" min="@(Model.Auction.CurrentPrice + Model.Auction.PriceIncrease)" step="@Model.Auction.PriceIncrease" value="@(Model.Auction.CurrentPrice + Model.Auction.PriceIncrease)" />
            }
            <button type="button" class="btn btn-success btn-add-to" onclick="MakeBid(@Model.Auction.Id, $(this).prev().val())"
                    @(Model.Auction.DesignerId == User.Identity.GetUserId() || Model.Auction.IsClosed ? " disabled" : "")>
                Make a bid
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div>
    @Html.DisplayNameFor(model => model.Auction.Description)
    @Html.Raw(Model.Auction.Description)
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>

<style>
    .product-main-img{
        float: left;
        width: 70%;
        margin-right: 8px;
    }
    .polaroid {
        position: relative;
    }

    .polaroid img {
        width: 100%;
        border: 10px solid #fff;
        border-bottom: 45px solid #fff;
        -webkit-box-shadow: 3px 3px 3px 3px #777;
        -moz-box-shadow: 3px 3px 3px 3px #777;
        box-shadow: 3px 3px 3px 3px #777;
    }
 
    .polaroid p {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0px;
        font: 400 16px/1 'Kaushan Script', cursive;
        color: #888;
    }

    .product-images{
        position:relative;
        float: left;
        width: 30%;
    }

    .product-details {
        font-size: 14px;
        font-family: Tahoma, Arial;
    }

    .add-to-basket-btns{
        margin: 5px;
        text-align: center;
    }
    .txt-amount{
        max-width : 80px;
    }
</style>

<script type="text/javascript">
    function MakeBid(auctionId, price) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("MakeBid", "Auction")',
            contentType: "application/json; charset=utf-8",
            data: { 'auctionId': auctionId, 'price': price },
            dataType: "json",
            success: function (response) {
                var messageContainer = $('.message-info');
                if (response.Succeeded == true)
                {
                    if (response.Message) {
                        messageContainer.removeClass("alert-success alert-danger").addClass("alert-success");
                        messageContainer.append("<span>" + response.Message + "</span>");
                        messageContainer.show();
                    }
                } else {
                    if (response.Message) {
                        messageContainer.removeClass("alert-success alert-danger").addClass("alert-danger");
                        messageContainer.append("<span>" + response.Message + "</span>");
                        if(response.Error)
                        {
                            messageContainer.append("<br/><span>" + response.Error + "</span>");
                        }
                        messageContainer.show();
                    }
                }
            },
            error: function (jqXHR, exception) {
                var messageContainer = $('.message-info');
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                }
                messageContainer.html(msg);
                messageContainer.show();
            }
        });
    };
</script>