@model IEnumerable<JokerKS.WLFU.Entities.Auction.Auction>

@{
    ViewBag.Title = "Auctions";
}

<h2>Auctions management</h2>

<table class="table">
    <tr>
        <th style="min-width:220px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designer.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var auction in Model)
{
    <tr>
        <td>
            <a href="@Url.Action("AuctionDetails", "Admin", new { auctionId = auction.Id })">
                @Html.DisplayFor(item => auction.Name)
            </a>
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(item => auction.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(item => auction.Category.Name)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(item => auction.IsPublished)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(item => auction.IsActive)
        </td>
        <td>
            @Html.DisplayFor(item => auction.Designer.UserName)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteAuction", new { id = auction.Id })
        </td>
    </tr>
}
</table>
