@model JokerKS.WLFU.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(false)
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

        <div>
            @Html.LabelFor(model => model.EmailOrUserName)
            <div>
                @Html.TextBoxFor(model => model.EmailOrUserName, new { @class = "form-control" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

    </div>
}