@model JokerKS.WLFU.Models.UserProfileModel
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <h2>Profile</h2>
    <hr />

    <h3>User auctions</h3>
    <table class="table">
        <tr>
            <th style="text-align: center;">
                @Html.DisplayName("Photo")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th style="text-align: center;">
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Is Closed")
            </th>
        </tr>
        @foreach (var auction in Model.UserAuctions)
        {
            <tr>
                <td style="text-align: center;">
                    @if (auction.MainImageId.HasValue && Model.AuctionMainImages.ContainsKey(auction.MainImageId.Value))
                    {
                        <img class="img-mini" src="@Url.Content("~/Images/Auctions/" + Model.AuctionMainImages[auction.MainImageId.Value].Path)"
                             alt="@Model.AuctionMainImages[auction.MainImageId.Value].Title" />
                    }
                </td>
                <td>
                    <a href="@Url.Action("Details", "Auction", new { auctionId = auction.Id })">
                        @Html.DisplayFor(model => auction.Name)
                    </a>
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => auction.CurrentPrice) zł
                </td>
                <td>
                    @Html.DisplayFor(modelItem => auction.IsClosed)
                </td>
            </tr>
        }
    </table>
    @if (!Model.UserAuctions.Any())
    {
    <p>No user auctions.</p>
    }

    <h3>User products</h3>
    <table class="table">
        <tr>
            <th style="text-align: center;">
                @Html.DisplayName("Photo")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th style="text-align: center;">
                @Html.DisplayName("Price")
            </th>
            <th style="text-align: center;">
                @Html.DisplayName("Amount")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
        </tr>

        @foreach (var product in Model.UserProducts)
        {
            <tr>
                <td style="text-align: center;">
                    @if (product.MainImageId.HasValue && Model.ProductMainImages.ContainsKey(product.MainImageId.Value))
                {
                        <img class="img-mini" src="@Url.Content("~/Images/Products/" + Model.ProductMainImages[product.MainImageId.Value].Path)"
                             alt="@Model.ProductMainImages[product.MainImageId.Value].Title" />
                    }
                </td>
                <td>
                    <a href="@Url.Action("Details", "Product", new { productId = product.Id } )">
                        @Html.DisplayFor(model => product.Name)
                    </a>
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => product.Price) zł
                </td>
                <td style="text-align: center;">
                    @Html.DisplayFor(model => product.AvailableAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Category)
                </td>
            </tr>
        }
    </table>
    @if (!Model.UserProducts.Any())
    {
    <p>No user products.</p>
    }
</div>

