@model JokerKS.WLFU.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Регистрация пользователя</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(false)

        <div>
            @Html.LabelFor(model => model.FirstName)
            <div>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Lastname)
            <div>
                @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.BirthDate)
            <div>
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.UserName)
            <div>
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Email)
            <div>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
            <div>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}