@model WLFU.Models.CreateProductViewModel
@{
    ViewBag.Title = "Create Product";
}
<link href="~/Content/Styles.css" rel="stylesheet" />
<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="~/Content/bootstrap-tagsinput-typeahead.css" rel="stylesheet" />

<style>
    .dropzone {
        height: 180px;
        border: 3px dashed #ccc;
        font-size: 20px;
        color: #ccc;
        /*line-height: 180px;*/
        text-align: center;
        border-radius: 5px;
    }

    .dropzone .dragover {
        border-color: #000;
        color: #000;
    }

    .dropzone:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .v-center{
        display: inline-block;
        vertical-align: middle;
    }

    .bootstrap-tagsinput{
        min-width:350px !important;
    }
</style>

<h2>Create Product</h2>

<form id="ProductForm" class="form-horizontal">

    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", required = true } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", required = true } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.TagsString, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control tags-input" type="text" autocomplete="off" name="TagsString" value="@Model.TagsString" data-role="tagsinput" />
            <div class="clear"></div>
            @Html.ValidationMessageFor(model => Model.TagsString, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
        <div  class="col-md-10">
            <div id="dropzone" class="dropzone">
                <div class="v-center">
                    <span>Drop files here to upload</span><br>
                    <span>or</span><br>
                    <div style="display:inline-block">
                        <input type="file" id="selectedFiles" name="Images" style="display: none;" multiple accept="image/png,image/gif,image/jpeg"/>
                        <input type="button" class="btn btn-info" value="Choose image/images" onclick="document.getElementById('selectedFiles').click();" />
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="image-preview" class="form-group">
        
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align:center">
            <input type="button" value="Create" class="btn btn-default" onclick="SendProduct()" />
        </div>
    </div>
</form>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    var filesToUpload = [];

    $("#selectedFiles").change(function () {
        FilesChosen($("#selectedFiles")[0].files);
    });

    (function () {
        var dropzone = document.getElementById('dropzone');
        dropzone.ondrop = function (e) {
            e.preventDefault();
            this.className = 'dropzone';

            FilesChosen(e.dataTransfer.files);
        };

        dropzone.ondragover = function () {
            if (this.className == 'dropzone')
                this.className += ' dragover';
            return false;
        };

        dropzone.ondragleave = function () {
            this.className = 'dropzone';
            return false;
        };
    }());

    function FilesChosen(files) {
        if (window.FormData && window.FileReader && window.FileList) {
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {

                    supportedFormats = ['jpeg', 'gif', 'png'];
                    var correctFormat = false;
                    supportedFormats.forEach(function (extension) {
                        if (files[i].type.match('image/' + extension)) {
                            correctFormat = true;
                        }
                    })

                    if (correctFormat) {
                        filesToUpload.push(files[i]);

                        var reader = new FileReader();
                        reader.onload = function (file) {
                            var isMainRadioBtn = "<div class='radio'><label><input name='IsMain' type='radio'";
                            var imgCount = $('input[type=button][id="deleteImg"]');
                            if (imgCount.length == 0)
                                isMainRadioBtn += " checked";
                            isMainRadioBtn += "/>Is Main Image</label></div>";
                            document.getElementById('image-preview')
                                .insertAdjacentHTML('beforeend', '<div><div class="col-md-2" style="text-align: right;">' + isMainRadioBtn + '<input id="deleteImg" type="button" class="btn btn-danger" value="Delete Image" onclick="DeleteImg(this)"/></div><div class="col-md-10"><div class="img-wrap form-group"><div class="col-md-4"><img src="' + file.target.result + '" class="img-thumbnail" alt="Image Not Found"/></div><div class="col-md-6"><div id="image-title"><label>Image Title</label><input class="form-control text-box single-line"/></div></div></div></div></div>');
                        };
                        reader.readAsDataURL(files[i]);
                    }
                }
            }
        } else alert("This browser doesn't support HTML5 file uploads!");
    }

    var DeleteImg = function (e) {
        var delInputs = $('input[type=button][id="deleteImg"]');
        if(delInputs.length == filesToUpload.length)
            for (var i = 0; i < delInputs.length; i++) {
                if (delInputs[i] == e){
                    filesToUpload.splice(i, 1);
                    $(e).parent().parent().remove();
                    return;
                }
            }
    }

    $(document).ready(function () {
        $.validator.addMethod('greaterThanZero', function (value, element) {
            if (filesToUpload.length > 0) return true;
            return false;
        }, 'At least one picture is required');
        
        $('#selectedFiles').rules("add", {
            greaterThanZero: true
        });
    });


    var SendProduct = function () {
        var form = document.getElementById('ProductForm');

        var formdata = new FormData(form);

        if (filesToUpload.length > 0) {
            for (var i = 0; i < filesToUpload.length; i++) {
                formdata.append('Images[' + i + '].Source', filesToUpload[i]);
                formdata.append('image' + i, filesToUpload[i]);
            }

            var titles = $('.img-wrap #image-title :input');
            for (var i = 0; i < titles.length; i++) {
                console.log(titles[i].value);
                formdata.append('Images[' + i + '].Title', titles[i].value);
            }

            var isMain = $('input[name=IsMain]');
            for (var i = 0; i < isMain.length; i++) {
                if (isMain[i].checked) {
                    formdata.append('MainImageIndex', i);
                    break;
                }
            }
        } else {

        }
        
        $("#ProductForm").validate();
        if ($("#ProductForm").valid()) {
            $.ajax({
                url: '/Product/Create',
                type: "POST",
                contentType: false,
                processData: false,
                data: formdata,
                dataType: 'json',
                encode: true,
                async: false,
                beforeSend: function () {
                    $("#ProductForm").validate();
                    if (!$("#ProductForm").valid) return;
                },
                success: function (result) {
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
    };
</script>

<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
<script src="~/Scripts/bootstrap3-typeahead.min.js"></script>
<script>
    //Tags input initialization
    $('.tags-input').tagsinput({
        maxChars: 25,
        typeahead: {
            source: @Html.Raw(Json.Encode(Model.AllTagsString)),
            afterSelect: function () {
                this.$element[0].value = '';
            }
        }
    })

    //Add tag on focusout
    $('.tags-input').focusout(function() {
        $('.tags-input').add($('.tags-input').input.val());
        $('.tags-input').input.typeahead('val', '');
    });
</script>

<script src="~/Scripts/bootstrapValidator.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ProductForm')
            .find('[name="TagsString"]')
                .change(function (e) {
                    $('#ProductForm').bootstrapValidator('revalidateField', 'TagsString');
                })
                .end()
            .bootstrapValidator({
                framework: 'bootstrap',
                excluded: ':disabled',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    TagsString: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter at least one tag'
                            }
                        }
                    }
                }
            });
    });
</script>

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    $(function () {
        tinyMCE.init({
            mode: "textareas",
            height: 300,
            theme: "modern",
            menubar: false,

            plugins: [
                'lists textcolor',
            ],

            setup: function (editor) {
                editor.on('change', function () {
                    tinyMCE.triggerSave();
                    var content = tinyMCE.activeEditor.getContent();
                    $('#Product_Description').valid();
                });
            },

            toolbar1: 'undo redo | insert | styleselect | bold italic underline | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent',
        });
    });
</script>