@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WLFU</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Styles.Render("~/content/styles/css")
    @{
        string controller = ViewContext.RouteData.Values["controller"].ToString();
    }
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=@Url.Action("Index", "Home") class="navbar-brand" style="margin-top: -8px;"><img src="~/Images/WLFU_logo.jpg" alt="Brand" class="brand-img"></a>
            </div>

            <div class="collapse navbar-collapse">
                <div class="col-lg-6 col-md-4 col-sm-6" role="search">
                    <div class="input-group" style="margin-top: 8px;">
                        <input type="search" class="form-control" placeholder="Search" style="min-width:300px;">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>

                @Html.Partial("_AccountPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @if (controller != "Admin" && controller != "Account")
        {
            <div class="menu-container">
                <ul class="nav navbar-nav navbar-nav-menu">
                    <li @(controller == "Product" ? "class='active'" : "" )><a href="@Url.Action("List", "Product")">Products</a></li>
                    <li @(controller == "Auction" ? "class='active'" : "" )><a href="@Url.Action("List", "Auction")">Auctions</a></li>
                    <li @(controller == "Tutorial" ? "class='active'" : "" )><a href="#">Tutorials</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            @RenderBody()
        }

        @if (controller == "Account")
        {
            @RenderBody()
        }

        @if (controller == "Admin")
        {
            <div class="admin-panel-menu col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="@Url.Action("Products", "Admin")">Products</a></li>
                    <li><a href="@Url.Action("Auctions", "Admin")">Auctions</a></li>
                    <li><a href="@Url.Action("Categories", "Admin")">Categories</a></li>
                    <li><a href="@Url.Action("Users", "Admin")">Users</a></li>
                </ul>
            </div>
            <div class="admin-panel-content col-md-10">
                @RenderBody()
            </div>
        }
    </div>

    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - WLFU</p>
    </footer>
    <hr />

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>